@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
:root {
    --Blue: hsl(246, 80%, 60%);
    --WorkLightRed: hsl(15, 100%, 70%);
    --PlaySoftBlue: hsl(195, 74%, 62%);
    --StudyLightRed: hsl(348, 100%, 68%);
    --LimeGreen: hsl(145, 58%, 55%);
    --Violet: hsl(264, 64%, 52%);
    --SoftOrange: hsl(43, 84%, 65%);

    --VeryDarkBlue: hsl(226, 43%, 10%);
    --DarkBlue: hsl(235, 46%, 20%);
    --DesaturatedBlue: hsl(235, 45%, 61%);
    --PaleBlue: hsl(236, 100%, 87%);
    --White: hsl(0, 0%, 100%);
}

body {
    font-family: "Rubik", sans-serif;
    background-color: var(--VeryDarkBlue);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}


.header-component {
    position: relative;
}
.heading{
    position: relative;
    z-index: 2;
    padding: 1.9rem;
    background-color: var(--Blue);
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 1rem;
    align-items: center;
    border-radius: 1rem;
}
.time-list {
    background-color: var(--DarkBlue);
    position: absolute;
    z-index: 1;
    width: 100%;
    bottom: -40px;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.container {
    background-color: var(--DarkBlue);
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 3.2rem;
    align-items: center;
    z-index: 2;
    position: absolute;
    top: 30px;
    width: 93%;
    border-radius: 1rem;
}
.schedule {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.schedule img {
    align-self: flex-end;
}
.project {
    line-height: 0.5;
}
.activity {
    background-color: var(--White);
    border-radius: 1rem;
    position: relative;
    padding: 1.9rem;
    z-index: 1;
}
.activity img {
    position: absolute;
    bottom: -10px;
    right: 10px;
}

.profile-image {
    border: 3px solid var(--White);
    border-radius: 50%;
    width: 4.4rem;
    height: 4.4rem;
}
.profile-details {
    line-height: 0.5;
}
.profile-details h1 {
    font-size: 1.12rem;
    color: var(--White);
    font-weight: 100;
}
.profile-details p {
    color: var(--White);
    opacity: 0.5;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--DarkBlue);
}

.ellipsis {
    height: 5px;
    width: 21px;
}

.work, .play, .exercise, .study, .social, .care {
    margin-top: 7rem;
    position: relative;
}
.work-activity {
    background-color: var(--WorkLightRed);
}
.play-activity {
    background-color: var(--PlaySoftBlue);
}
.study-activity {
    background-color: var(--StudyLightRed);
}
.exercise-activity {
    background-color: var(--LimeGreen);
}
.social-activity {
    background-color: var(--Violet);
}
.care-activity {
    background-color: var(--SoftOrange);
}

.social-icon {
    height: 70px;
}
.ending {
    padding: 20px;
}

.project-paragraph {
    font-size: 1rem;
    color: var(--White);
}
.project h2 {
    font-weight: 100;
    font-size: 1.5rem;
    color: var(--White);
}
span {
    color: var(--White);
    opacity: 0.5;
}

@media (min-width: 50rem) {
    main {
    
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1.5rem;
    }
    .header-component {
        grid-column: 1/2;
        grid-row: 1/-1;
    }
    .work {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .play {
        grid-column: 3/4;
        grid-row: 1/2;
    }
    .study {
        grid-column: 4;
        grid-row: 1/2;
    }
    .exercise {
        grid-column: 2/3;
        grid-row: 2;
    }
    .social {
        grid-column: 3/4;
        grid-row: 2;
    }
    .care {
        grid-column: 4;
        grid-row: 2;
    }

    .heading {
        margin-top: 6.5rem;
        display: flex;
        flex-direction: column;
        
    }
}