:root {
    --Blue: hsl(246, 80%, 60%);
    --WorkLightRed: hsl(15, 100%, 70%);
    --PlaySoftBlue: hsl(195, 74%, 62%);
    --StudyLightRed: hsl(348, 100%, 68%);
    --ExerciseLimeGreen: hsl(145, 58%, 55%);
    --SocialViolet: hsl(264, 64%, 52%);
    --CareSoftOrange: hsl(43, 84%, 65%);

    --VeryDarkBlue: hsl(226, 43%, 10%);
    --DarkBlue: hsl(235, 46%, 20%);
    --DesaturatedBlue: hsl(235, 45%, 61%);
    --PaleBlue: hsl(236, 100%, 87%);
    --White: hsl(0, 0%, 100%);
}
/* Note two line spaces declares end of section. */

body {
    font-family: "Rubik", sans-serif;
    background-color: var(--VeryDarkBlue);
    max-width: 100%;
}
main {
    padding: 8rem 1rem;
    display: flex;
    flex-direction: column;
}

.ellipsis {
    height: 0.35rem;
}

/* Header component section */
.header-component {
    position: relative;
}
.heading {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    background-color: var(--Blue);
    padding: 1.5rem;
    border-radius: 1rem;
    position: absolute;
    z-index: 2;
    bottom: 3rem;
    width: 87%;
}
.profile-image {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 3px solid var(--White);
}

/*List section, for daily, weekly and monthly*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.daily-list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-evenly;
    padding: 1.5rem 2rem;
    background-color: var(--DarkBlue);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    position: relative;
    z-index: 1;
}



.work, .play, .exercise, .care, .social, .study {
    margin-top: 6rem;
    position: relative;
}
.top-container {
    position: relative;
}
.activity img {
    position: absolute;
    right: 1rem;
    top: 5px;
}
.work-activity {
    border-radius: 1rem;
    padding: 3.5rem 3rem;
    background-color: var(--WorkLightRed);
    position: relative;
}
.play-activity {
    border-radius: 1rem;
    padding: 3.5rem 3rem;
    background-color: var(--PlaySoftBlue);
    position: relative;
}
.study-activity {
    border-radius: 1rem;
    padding: 3.5rem 3rem;
    background-color: var(--StudyLightRed);
    position: relative;
}
.exercise-activity {
    border-radius: 1rem;
    padding: 3.5rem 3rem;
    background-color: var(--ExerciseLimeGreen);
    position: relative;
}
.social-activity {
    border-radius: 1rem;
    padding: 3.5rem 3rem;
    background-color: var(--SocialViolet);
    position: relative;
}
.care-activity {
    border-radius: 1rem;
    padding: 3.5rem 3rem;
    background-color: var(--CareSoftOrange);
    position: relative;
}


/*2nd div in a section or container div, used for direction or placement of elements*/
.container {
    background-color: var(--DarkBlue);
    padding: 0.8rem 1rem;
    border-radius: 1rem;
    position: absolute;
    top: 2.3rem;
    width: 90.5%;
}
.project {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.schedule {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


/* mobile view for container element from 500px to 784px */
@media (min-width: 31.25rem) and (max-width: 49rem) {
    .container {
        width: 95%;
    }
    .heading {
        width: 90%;
    }
}
@media (min-width: 760px) and (max-width: 780px) {
    .heading {
        width: 94%;
    }
}

/* desktop view*/
@media (min-width: 50rem) {
    main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 2.5rem;
    }
    .daily-list {
        bottom: -22rem;
        width: 80%;
        display: flex;
        flex-direction: column;
    }
    .heading {
        top: 2rem;
        display: flex;
        flex-direction: column;
    }
    .header-component {
        margin-top: 2rem;
        grid-column: 1/2;
        grid-row: 1/-1;
    }
    .work {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .play {
        grid-column: 3/4;
        grid-row: 1/2;
    }
    .study {
        grid-column: 4;
        grid-row: 1/2;
    }
    .exercise {
        grid-column: 2/3;
        grid-row: 2;
    }
    .social {
        grid-column: 3/4;
        grid-row: 2;
    }
    .care {
        grid-column: 4;
        grid-row: 2;
    }
    .typo {
        font-weight: 500;
    }
    .schedule {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

/*handwriting section*/
span, .project-heading, .project-paragraph {
    color: var(--White);
}
.project-heading {
    font-weight: 100;
}
span {
    opacity: 0.5;
}
.project-heading, .project-paragraph {
    line-height: 0.5;
}
.project-paragraph {
    font-weight: bold;
}
.daily-list {
    font-weight: 120;
    color: var(--White);
    opacity: 0.5;
}
.profile-details p, h1 {
    color: var(--White);
    line-height: 0.8;
}
.profile-details p {
    opacity: 0.5;
}
.profile-details h1 {
    font-weight: 100;
}